﻿@model WebApiSAmples.ViewModels.JobTitleDetail
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateNewJobTitle</title>
</head>
<body>
    <div> 


        @Html.Partial("~/Views/JobTitle/NewJobTitleForm.cshtml", Model)

       </div>
</body>
</html>
